PORT=3001
DATABASE_URL=postgres://username:password@localhost:5432/database
JWT_SECRET=secret
DR_MODEL_SERVICE_URL=http://diabetic-retinopathy-model-service
OCULAR_MODEL_SERVICE_URL=http://ocular-model-service
LLM_SERVICE_URL=http://eyellama-model-service